.wordbox {
    font-size: 2.5rem; 
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    white-space: nowrap;
    background-color: #EBCF00;
}

.stage__words .wordbox:first-child { 
    color: #33322B; 
    background-color: #ecf0f1; 
    border: 2px solid #C1EB3B; 
}

.stage__words .wordbox:not(:first-child) {
    color: #bdc3c7; 
    background-color: transparent;
    border: 2px solid transparent;
    opacity: 0.7;
    font-size: 2rem; 
}

.wordbox--mistake {
    background-color: #E0B0CE; 
    color: #EB009F; 
    animation: shake 0.5s; 
    border-color: #EB009F !important;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-5px);
    }
    40%, 80% {
        transform: translateX(5px);
    }
}